<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="appleid-signin-client-id" content="[CLIENT_ID]">
		<meta name="appleid-signin-scope" content="[SCOPES]">
		<meta name="appleid-signin-redirect-uri" content="[REDIRECT_URI]">
		<meta name="appleid-signin-state" content="[STATE]">
		<meta name="appleid-signin-nonce" content="[NONCE]">
		<meta name="appleid-signin-use-popup" content="true">

		<link rel="icon" href="/templates/app/images/favicon.png">

		<title><sPageTitle></sPageTitle></title>

		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

		<link rel="stylesheet" href="/templates/shared/assets/css/bootstrap.min.css" type="text/css"/>
		<link rel="stylesheet" href="/templates/shared/fontawesome/css/all.css" type="text/css">
		<link rel="stylesheet" href="/templates/shared/css/kendoui.2022.2.510/kendo.bootstrap-v4.min.css">
		<link rel="stylesheet" href="/templates/app/css/style.css" type="text/css">

		<script src="/templates/shared/assets/js/vendor.js"></script>
		<script src="/scripts/framework/libs/kendoui.2022.2.510/kendo.all.min.js"></script>
		<script src="/framework-scripts/Utils.js"></script>
		<script src="/scripts/framework/user/User.js"></script>
		<script src="/scripts/framework/App.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFisvHHT4m0FZKgmqyeQMTfelKDDgOxXA&libraries=places"></script>
	</head>

	<body>
		<sContent></sContent>
	</body>
</html>
